#listingCarousel {
    height: 100%;
}

.carousel-item img {
  object-fit: contain; /* scale without cropping */
  width: 100%;
  max-height: 100%;
}

.gallery-container {
    width: 66%;
}

.gallery-right {
    float: right;
    width: 33%;
    height: 100%;
    background-color: green;
}

/* feature section */

.feature-section {
    background-color: rgb(188, 184, 178);
    padding: 0.5em;
    border-radius: 10px;
}

.feature-box {
    border-style: solid;
    border-color: rgb(105, 105, 105);
    border-width: 0 2px 0 0;
    padding: 0.5em 1em;
    font-size: 1.2em;
}

.feature-box:last-child {
    border: 0;
}

/* main container */

.listing-description-container {
    padding: 1em;
    margin: 2em 0;
    border-radius: 10px;
    background-color: rgb(203, 203, 203);
    width: 100%;
}

.listing-feature-container {
    margin: 2em 0;
    padding: 0.3em;
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
    width: 100%;
}

.listing-feature-box {
    padding: 0.3em;
    background-color: white;
    border-radius: 10px;
    min-width: 2em;
}

/* overlay */

.images-gallery-container {
    width: 100%;
    height: 80%;
    /* TEMP */
    color: white;
}

.thumbnail-container {
    position: fixed;
    height:20%;
    width: 100%;
    bottom: 0;
    /* TEMP */
    background-color: rgb(0, 0, 255);
    color: white;
}

#images-gallery-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

#exit-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.6em;
  cursor: pointer;
  z-index: 3;
}

.carousel-indicators.thumbnails {
    margin-bottom: -20px;
}
.carousel-indicators.thumbnails button {
    width: 120px;
}

.images-gallery-container {
  width: 100%;
  height: 80%; /* stays relative to overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* ensures no overflow */
}