/* Global and Variables */
:root {
    /* MJ HOME colours */
    --secondary: #fdead4;
    --highlight: #F8A001;
}

.listing-border {
    border: 2px solid var(--highlight);
}

/* Address & Containers */
.address-container {
    width: 100%;
}

.address {
    min-width: 50%;
}

.address-side {
    max-width: 50%;
    align-items: right;
}

.listing-description-container {
    width: 100%;
    min-height: 100px;
    margin: 1em 0;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    font-size: 1.3em;
}

.listing-quality-container,
.listing-feature-container,
.listing-contact-container {
    width: 100%;
    margin: 2em 0;
    padding: 0.8em;
    border-radius: 10px;
    background-color: var(--secondary);
}

.listing-contact-container {
    background-color: white;
}

.listing-quality-element,
.listing-feature-element {
    min-width: 2em;
    margin: 0.2em;
    padding: 0.7em 1em;
    background-color: white;
    border: 2px solid var(--highlight);
    border-radius: 10px;
    font-size: 1.2em;
}

.listing-quality-element div,
.listing-feature-element div {
    row-gap: 3em;
}

.listing-feature-element {
    border-color: rgb(86, 86, 86);
}

/* Feature Section */
.feature-section {
    padding: 0.5em;
    background-color: var(--secondary);
    border: 2px solid var(--highlight);
    border-radius: 10px;
}

/* separate feature boxes */
.feature-box {
    padding: 0.5em 1em;
    font-size: 1.3em;
    font-weight: bold;
    border-right: 2px solid var(--highlight);
}

.feature-box:last-child {
    border: 0;
}

/* Gallery Section */
.gallery-container {

}

.gallery-right {
    position: relative;
    bottom: 40px;
    float: right;
    align-items: end;
    z-index: 2;
}

.gallery-right .btn {
    background-color: var(--highlight);
}

.gallery-right .btn:hover {
    background-color: var(--secondary);
    transition: linear;
}

/* Overlays */
#images-gallery-overlay,
#floorplan-gallery-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}

#exit-button,
#floorplan-exit-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.6em;
    cursor: pointer;
    z-index: 999;
}

.images-gallery-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* prevents overflow */
    color: white; /* TEMP */
}

.thumbnail-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgb(0, 0, 255); /* TEMP */
    color: white;
}

/* Carousel */
#listingCarousel {
    height: 100%;
}

.carousel-item {
    object-fit: contain; /* scale without cropping */
}

#floorplanCarouselOverlay .carousel-inner,
#listingCarouselOverlay .carousel-inner {
    width: 100%;
    max-width: 900px;
    max-height: 600px;
}

.carousel-indicators.thumbnails {
    margin-bottom: -20px;
}

.carousel-indicators.thumbnails button {
    width: 120px;
}
