:root {
    /* MJ HOME colours */
    --secondary: #fdead4;
    --highlight: #F8A001;
}

.btn {
    text-transform: none;
}

#listingCarousel {
    height: 100%;
}

.carousel-item img {
  object-fit: contain; /* scale without cropping */
  width: 100%;
  max-height: 100%;
}

.gallery-container {

}

.gallery-right {
    float: right;
    align-items: end;
    width: 33%;
    height: 100%;
    background-color: green;
}

/* top feature section */

.feature-section {
    background-color: var(--secondary);
    padding: 0.5em;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--highlight);
}

    /* separate feature sections */
.feature-box {
    font-weight: bold;
    border-style: solid;
    border-color: var(--highlight);
    border-width: 0 2px 0 0;
    padding: 0.5em 1em;
    font-size: 1.3em;
}

.feature-box:last-child {
    border: 0;
}

/* main container */

.address-container {
    width: 100%;
}

.address {
    min-width: 50%;
}

.address-side {
    max-width: 50%;
    align-items: right;
}

.listing-description-container {
    margin: 1em 0;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    min-height: 100px;
    font-size: 1.2em;
}

.listing-quality-container, .listing-feature-container {
    margin: 2em 0;
    padding: 0.8em;
    background-color: var(--secondary);
    border-radius: 10px;
    width: 100%;
}

.listing-quality-box, .listing-feature-box {
    padding: 0.7em 1em;
    margin: 0.2em;
    background-color: white;
    border-radius: 10px;
    border-color: var(--highlight);
    border-style: solid;
    border-width: 2px;
    min-width: 2em;
    font-size: 1.2em;
}

.listing-quality-box div, .listing-feature-box div {
    row-gap: 3em;
}

.listing-feature-box {
    border-color: rgb(86, 86, 86);
}

/* overlay */

.images-gallery-container {
    height: 100%;
    /* TEMP */
    color: white;
}

.thumbnail-container {
    position: fixed;
    height:20%;
    width: 100%;
    bottom: 0;
    /* TEMP */
    background-color: rgb(0, 0, 255);
    color: white;
}

#images-gallery-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

#exit-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.6em;
  cursor: pointer;
  z-index: 3;
}

.carousel-indicators.thumbnails {
    margin-bottom: -20px;
}
.carousel-indicators.thumbnails button {
    width: 120px;
}

.images-gallery-container {
  width: 100%;
  height: 80%; /* stays relative to overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* ensures no overflow */
}