#map {
    width: 100%;
    height: 500px;
}

/* prevent global css from changing leaflet map */
.leaflet-container .leaflet-tile,
.leaflet-container .leaflet-tile img {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    margin: 0;
    padding: 0;
}

.leaflet-container {
    background: #fff;
}
